doctype html
html
  head
    title Genux
    link(rel='stylesheet', type='text/css', href='GenuxApp/AccountPage/styles/style.css')
  body
    script(type='text/javascript', src='GenuxApp/AccountPage/build/#{main.js}')